name: Deploy to production

on:
  workflow_run:
    workflows: ["Build and Push payment service"]
    types:
      - completed

jobs:
  on-success:
    name: deploy to production
    runs-on:
      - self-hosted
      - toza
      
    defaults:
      run:
        working-directory: ./backend/payments-svc

    if: ${{ (github.event.workflow_run.conclusion == 'success' || github.event_name == 'push') || (github.event_name == 'pull_request' && github.event.pull_request.merged == true) }}
    steps:
      - name: checkout the repository
        uses: actions/checkout@v4

      - name: change file permissions
        shell: bash
        run: |
          chmod +x ./deploy.sh

      - name: deploy latest updates
        shell: bash
        run: |
          ./deploy.sh

  on-failure:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'failure' }}
    steps:
      - run: echo "Triggering deployment failed ..."
